/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto 32px;
  width: 371px;
  height: 40px;
  margin-top: 36px;
  margin-bottom: 32px;
}

.form-input {
  border-radius: 4px;
  max-width: 272px;
  max-height: 40px;
  padding-left: 16px;
  font-family: Montserrat Regular, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: .04em;
  color: #808080;
  border: 1px solid #808080;
  border-radius: 4px;
  padding-left: 16px;

}

.form-input:focus {
  border: 1px solid #4e75ff;
}

.form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background-color: #4e75ff;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  margin-left: 8px;
}

.form-btn:hover {
  background-color: #6c8cff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.gallery-item {
  display: block;
  max-height: 200px;
  flex-basis: calc((100% - 2 * 24px) / 3);
  border: 1px solid #000;
  box-sizing: border-box;
  box-shadow: 0 2px 5px #0000001a;
  max-width: 360px;
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
}

.image {
  display: block;
  width: 360px;
  height: 152px;
  object-fit: cover;
}

.info-img {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: black;
}


.text-img {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.list-info {
  align-content: center;
}

.description {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 30px;
  width: 360px;
  height: 48px;
}

.loader {
  display: block;
}

.hidden {
  display: none;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#loader {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.load-more {
  display: block;
}

.button-container {
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
}

.load-more {
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 125px;
  height: 40px;
  background: #4e75ff;
  margin-top: 32px;
  margin-bottom: 32px;
}

.load-more:hover {
  background-color: #6c8cff;
  transform: scale(1.05);
}

.sl-wrapper {
  background-color: rgba(46, 47, 66, 0.8);
}


div.sl-wrapper .sl-close {
  color: #fff;
}

.sl-wrapper .sl-navigation .sl-next {
  color: #fff;
}

.sl-wrapper .sl-navigation .sl-prev {
  color: #fff;
}

.sl-total {
  color: #fff;
}

.sl-current {
  color: #fff;
}

div.sl-wrapper .sl-counter {
  color: #fff;
}